html,
body {
    height: 100%;
}

body {
    background-image: url('bimg.jpg');
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

form {
    background-color: #e1e1e1;
    box-shadow: 5px 5px 10px #e1e1e1;
}

form button {
    background-color: #12375f!important;
}

form button:hover {
    background-color: #1e1e1e!important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#inputEmail {
    margin-top: 40px!important;
}

#inputPassword {
    margin-top: 20px!important;
}
