body {
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: #123512;
}

p {
    font-size: 20px;
}

form h2 {
    text-align: center;
    padding: 50px;
    font-size: 40px!important;
}

form p {
    padding-left: 50px;
}

* {
    font-size: 20px;
}

.q {
    padding-left: 75px!important;
    padding-bottom: 50px;
}

#quiz {
    margin-left: 0px;
    background: #d2def2;
    padding: 10px 20px 10px 20px;
    width: 50%;
    border-radius: 20px;
    float: left;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 100px;
}

@media (max-width: 600px) {
    #quiz {
        width: 100%;
        top: 0%;
        left: 50%;
    }
}

h1 {
    text-align: left;
}

#input {
    margin-border: 20px;
    display: block;
}

#textbox {
    height: 22px;
    width: 120px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
}

#button {
    background: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
}

#button.hover {
    background: white;
    border: 1px solid green;
    color: black;
    cursor: pointer;
}

#after_submit {
    visibility: hidden;
    background: #0000ff;
    padding: 10px 20px 10px 20px;
    width: device-width;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    font-size: 30px;
}

#pictures {
    width: 100%;
    height: 100%;
}